<!-- </nav> -->

<nav class="nav">
  <a href="/travelguide">Home</a>
  <a href="/travelguide/search/Asia">Asia</a>
  <a href="/travelguide/search/Europe">Europe</a>
  <a href="/travelguide/search/North%20America">North America</a>
  <a href="/travelguide/search/South%20America">South America</a>
  <a href="/travelguide/search/Africa">Africa</a>
  <a href="/travelguide/search/Australia">Australia</a>
  <a href="/travelguide/new">New Blog</a>
  <div class="infobar">


    <ul class="user">
      <% if (currentUser) { %>
      <li>Welcome <%= currentUser.username%></li>

      <li class="nav-item">
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <% } else { %>
      <li class="nav-item"><a href="/users/new">Sign Up</a></li>
      <li class="nav-item"><a href="/sessions/new">Log In</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<!-- <form class="" action='/travelguide/search'method="
POST">
  <input type="text" name="search">
   <input type="submit" value="submit" /></form> -->
